<a href="https://colab.research.google.com/github/Hina19/SeptemberBeginner2022/blob/main/For_Loops.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img src='https://cdn.techbeamers.com/wp-content/uploads/2019/05/Python-range-function-explained.png'>

In [2]:
print(list(range(2,5)))

[2, 3, 4]

In [3]:
print(len(range(2,5)))

3

In [4]:
#start =0 by default
print(list(range(6)))

[0, 1, 2, 3, 4, 5]

In [5]:
print(list(range(0,6)))

[0, 1, 2, 3, 4, 5]

In [6]:
print(list(range(0)))

[]

In [7]:
print(list(range(5,5)))

[]

In [8]:
#quiz
print(len(range(11)))

11

In [9]:
print(list(range(11)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [10]:
print(list(range(3.2,1.2)))

TypeError: ignored

In [11]:
print(list(range(2,8)))

[2, 3, 4, 5, 6, 7]

In [12]:
#quiz
print(list(range(7, 8)))

[7]

In [13]:
print(list(range(-1,9)))

[-1, 0, 1, 2, 3, 4, 5, 6, 7, 8]

In [14]:
print(list(range(2,9)))

[2, 3, 4, 5, 6, 7, 8]

In [15]:
print(list(range(2,9,2)))

[2, 4, 6, 8]

In [16]:
print(list(range(1,10,2)))

[1, 3, 5, 7, 9]

In [17]:
#quiz
print(list(range(8, 8)))

[]

In [19]:
#quiz
#How many numbers are included in the below range?
print(len(range(1, 11, 2)))

5

In [20]:
print(list(range(1, 11, 2)))

[1, 3, 5, 7, 9]

In [21]:
print(list(range(10,0,-1)))

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [22]:
print(list(range(10,-5,-1)))

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0, -1, -2, -3, -4]

In [23]:
#quiz
#What is the output of the following code
print(list(range(-1, 11, 2)))

[-1, 1, 3, 5, 7, 9]

In [ ]:
#quiz
#Which of the options is NOT correct for the range: range(5, 1)?
# A
# start = 5
# 
# B
# end = 1
# 
# C
# increment = -1
# 
# D
# increment = 1

In [24]:
print(list(range(5, 1)))

[]

In [26]:
print((list(range(5, 1,-1))))

[5, 4, 3, 2]

## For loop

### Problem #1 : print all numbers from 1 to 5

In [28]:
for i in range(1,6):
  print(i,end= ' ')

1 2 3 4 5

### Problem #2: Print the sum of all numbers from 1 to n

In [31]:
sum = 0
for i in range(1,6):
  sum = sum + i
print(sum)

15

### Problem #3: Print all number from N to 1:

In [33]:
n = int(input())
for i in range(n,0,-1):
  print(i, end= ' ')

5
5 4 3 2 1

In [34]:
n = int(input())
for i in range(n,0):
  print(i, end= ' ')

5

In [35]:
#quiz
#Predict the output given input N = 5.
n = int(input())

for i in range(2, n):
    print(i, end=' ')

5
2 3 4

### Problem #4: Print all number from N to 1 without changing step-size :

In [36]:
n = int(input())
for i in range(-1*n,0):
  print(-1*i,end = ' ')

5
5 4 3 2 1

In [38]:
#quiz
#Predict the output given input N = 7.
N = int(input())

for i in range(N, 1, -1):
    print(i, end=' ')

7
7 6 5 4 3 2

In [ ]:
# For the values of i below print the values of N - i + 1 given N = 6.

# i: 1, 2, 3, 4, 5, 6

In [40]:
 n = int(input())
 for i in range(1,n+1):
   print(n-i+1,end= ' ')

8
8 7 6 5 4 3 2 1

In [41]:
n=int(input())
for i in range(0,n):
   print(n-i)

5
5
4
3
2
1

### Problem #5: Print all odd numbers from 1 to n:

In [42]:
n = int(input())
for i in range(1,n+1,2):
  print(i, end= ' ')

7
1 3 5 7

### Problem #6: Print the sum of all even numbers from 1 to n:

In [44]:
n = int(input())
sum = 0
for i in range(2, n+1,2):
  sum = sum + i
print(sum)

8
20

In [46]:
print(list(range(5,0,-1)))

[5, 4, 3, 2, 1]