<a href="https://colab.research.google.com/github/Hina19/SeptemberBeginner2022/blob/main/L11_PatternPrinting.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img src='https://i.ytimg.com/vi/9bdYzlK9eOM/maxresdefault.jpg' height=300 width=400>

<img src='https://1.bp.blogspot.com/-tRsmBTTZ0JA/X3W5WHhwRaI/AAAAAAAAAqQ/aI5xuN_2i7IZ8KgQjfEOne4_dgwpiijSACNcBGAsYHQ/s0/Inverted_star_triangle_pattern.jpg'>

#problem 1

In [ ]:
for i in range(1,6):
  for j in range(1,i+1):
    print('*',end='')
  print()

*
**
***
****
*****

In [39]:
for i in range(1,6):
  for j in range(i):
    print('*',end='')
  print()

*
**
***
****
*****

In [ ]:
n = int(input())
for i in range(1,n+1):
  for j in range(1,i+1):
    print('*',end='')
  print()

3
*
**
***

In [ ]:
n = int(input())
for i in range(1,n+1):
  for j in range(i):
    print('*',end='')
  print()

3
*
**
***

In [ ]:
# Which code will work?
# For N as input.
# A.
for i in range(1, N + 1):
    for j in range(i):
        print('*', end='')
    print()
# B.
for i in range(1, N):
    for j in range(i):
        print('*', end='')
    print()

# problem 2

In [ ]:
n= int(input())
for i in range(1,n+1):
  for j in range(1,i+1):
    if j%2==1:
      print('*',end='')
    else:
      print(j,end='')
  print()

5
*
*2
*2*
*2*4
*2*4*

In [ ]:
#quiz
N = int(input())
for i in range(1, N + 1):
    for j in range(1, i + 1):
        if j % 2 == 0:
            print('*', end='')
        else:
            print(j, end='')
    print()

5
1
1*
1*3
1*3*
1*3*5

# problem 3

In [32]:
n = int(input())
for i in range(1,n+1):
  for j in range(n-i+1):
    print('*',end='')
  print()

5
*****
****
***
**
*

#problem 4

In [33]:
n = int(input())
for i in range(1,n+1):
  for j in range(1,5):
    if j==1 or j==4:
      print('*',end='')
    else:
      print(end= '  ') 
  print()

5
*    *
*    *
*    *
*    *
*    *

# problem#5

In [36]:
n = int(input())
for i in range(1,n+1):
  for j in range(1,n+2):
    if j==1 or j==n+1:
      print('*',end='')
    else:
      print(end=' ')
  print()

5
*    *
*    *
*    *
*    *
*    *

# problem6

In [37]:
for i in range(1,6):
  for j in range(1,i+1):
    print(j,end='')
  print()

1
12
123
1234
12345