<a href="https://colab.research.google.com/github/Hina19/SeptemberBeginner2022/blob/main/PatternPrinting_ProblemSolving.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Pattern Printing:

<img src='https://www.techarge.in/wp-content/uploads/2021/02/55984_1580817324.png' width=500>

In [22]:
n = int(input())
for i in range(1,n+1):
  #spaces
  for j in range(n-i):
    print(" ",end='')
  #stars  
  for j in range(i):  
    print("*",end='')
  print()

5
    *
   **
  ***
 ****
*****

In [23]:
n= int(input())
for i in range(1,n+1):
  for j in range(i-1):
    print(" ",end='')
  for k in range(n-i+1):
    print("*",end="")
  print()

5
*****
 ****
  ***
   **
    *

In [24]:
n = int(input())
for i in range(1,n+1):
  #part1 - stars
  for j in range(n-i+1):
    print("*",end='')
  #part2 - spaces
  for k in range(2*(i-1)):
    print(" ",end='')
  #part3 - stars  
  for l in range(n-i+1):
    print("*",end="")   
  print()

5
**********
****  ****
***    ***
**      **
*        *

In [25]:
n = int(input())
for i in range(1,n+1):
  #stars
  for j in range(i):
    print('*',end='')
  #spaces
  for k in range(2*(n-i)):
    print(" ",end='')
  #stars
  for l in range(i):
    print('*',end='')
  print()

5
*        *
**      **
***    ***
****  ****
**********

In [30]:
n = int(input())
for i in range(1,n+1):
  #part1 - stars
  for j in range(n-i+1):
    print("*",end='')
  #part2 - spaces
  for k in range(2*(i-1)):
    print(" ",end='')
  #part3 - stars  
  for l in range(n-i+1):
    print("*",end="")   
  print() 
for i in range(2,n+1):
  #stars
  for j in range(i):
    print('*',end='')
  #spaces
  for k in range(2*(n-i)):
    print(" ",end='')
  #stars
  for l in range(i):
    print('*',end='')
  print()

5
**********
****  ****
***    ***
**      **
*        *
**      **
***    ***
****  ****
**********

In [31]:
n = int(input())
for i in range(1,n+1):
  #part1 - stars
  for j in range(n-i+1):
    print(" ",end='')
  #part2 - spaces
  for k in range(2*(i-1)):
    print("*",end='')
  #part3 - stars  
  for l in range(n-i+1):
    print(" ",end="")   
  print() 
for i in range(2,n+1):
  #stars
  for j in range(i):
    print(' ',end='')
  #spaces
  for k in range(2*(n-i)):
    print("*",end='')
  #stars
  for l in range(i):
    print(' ',end='')
  print()

5

    **
   ****
  ******
 ********
  ******
   ****
    **

In [35]:
n = int(input())
for i in range(1,n+1):
  for j in range(1,i+1):
    print(j,end="")
  print()

5
1
12
123
1234
12345

In [39]:
n = int(input())
for i in range(n,0,-1):
  for j in range(1,i+1):
    print(j,end="")

  print()

5
12345
1234
123
12
1

In [42]:
n = int(input())
for i in range(1,n):
  for j in range(1,i+1):
    print(j,end="")
  print() 
for i in range(n,0,-1):
  for j in range(1,i+1):
    print(j,end="")

  print()

5
1
12
123
1234
12345
1234
123
12
1

In [43]:
n = int(input())
for i in range(1,n):
  for j in range(1,i+1):
    print("*",end="")
  print() 
for i in range(n,0,-1):
  for j in range(1,i+1):
    print("*",end="")

  print()

5
*
**
***
****
*****
****
***
**
*

## Full pyramid
Problem Description

Given an integer N, print the corresponding Full Pyramid pattern for N.

For example if N = 5 then pattern will be like:

```
    * 
   * * 
  * * * 
 * * * * 
* * * * *
```


NOTE: There should be exactly one extra space after each * for each row.

In [46]:
N = int(input())
for i in range(1,N+1):
    for j in range(N-i):
        print(' ', end = '')

    for j in range(i):
        print('* ', end = '')
    print()

5
    *
   * *
  * * *
 * * * *
* * * * *

# Problem Description

Given an integer N, print the corresponding Full Numeric Pyramid pattern for N.

For example if N = 5 then pattern will be like:

0 0 0 0 1 0 0 0 0 <br>
0 0 0 2 3 2 0 0 0 <br>
0 0 3 4 5 4 3 0 0 <br>
0 4 5 6 7 6 5 4 0 <br>
5 6 7 8 9 8 7 6 5 <br>

In [58]:
n=int(input())
for i in range(1,n+1):
  #zeros in starting
  # zeros=n-i
  for j in range(n-i):
      print("0 ",end="")
  #increment 
  lim=2*i - 1
  for j in range(i,lim+1):
      print(j,end="")
      print(" ",end="")
  #decrement
  for j in range(2*(i-1),i-1,-1):
      print(j,end="")
      print(" ",end="")
  #same number of zeros in end
  for j in range(n-i):
      print("0 ",end="")
  print()

3
0 0 1 0 0
0 2 3 2 0
3 4 5 4 3

## Homework:

<img src='https://javainterviewpoint.com/wp-content/uploads/2019/03/Star-Pattern-Programs-In-Java-1.png'>

Exercises to follow: 

https://pynative.com/print-pattern-python-examples/

# Doubts

In [49]:
5//2

2

In [50]:
import math

In [52]:
math.floor(5/2)

2

In [53]:
math.ceil(10/3)

4

In [55]:
round(10.333333,3)

10.333